<configuration scan="false" scanPeriod="30 seconds">
  <appender name="windows_event" class="org.gizmo.logback.Win32EventLogAppender">
    <source>insightd</source>
    <filter class="com.metricinsights.collector.standalone.MetricInsightsLogFilter">
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n%throwable</pattern>
    </layout>
  </appender>

  <appender name="debuglog" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/insight.log</file>
    <filter class="com.metricinsights.collector.standalone.MetricInsightsLogFilter">
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <encoder>
        <pattern>%date	[%thread]	%-5level	%logger{36}	%msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/insight.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
  </appender>

  <logger name="com.metricinsights" additivity="false" level="debug">
    <appender-ref ref="windows_event"/>
    <appender-ref ref="debuglog"/>
  </logger>

  <logger name="com.mi" additivity="false" level="debug">
    <appender-ref ref="windows_event"/>
    <appender-ref ref="debuglog"/>
  </logger>
</configuration>
